# vim:noet:sw=8:ts=8

snippet r
	return 

snippet f
	function (${1}) {${0}}

snippet ar
	(${1}) => {${0}}

snippet np
	new Promise((resolve${1:, reject}) => {${0}})

snippet lg
	console.log(${0})

snippet i
	import {${0}} from '${1}'
